<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>admin</p>

    <a href="{% url 'view_users' %}">View Users</a><br><br>
    <a href="{% url 'hall_details' %}">Hall Details</a><br><br>
    <a href="{% url 'food_details' %}">Food Details</a><br><br>
    <a href="{% url 'decoration_details' %}">Decoration Details</a><br><br>
    <a href="{% url 'admin_view_booking' %}">View Bookings</a><br><br>
    <a href="{% url 'logout' %}">Logout</a>
</body>
</html>