<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'newpassword' %}" method="POST">
        {% csrf_token %}
        <input type="email" name="email" placeholder="Email" value="{{email}}" readonly><br><br>
        <input type="password" name="password1" placeholder="New Password" required><br><br>
        <input type="password" name="password2" placeholder="Confirm Password" required><br><br>
        <button type="submit">Set</button>
    </form>
</body>
</html>