<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Bookings</title>
</head>
<body>
    <h1>Your Bookings</h1>
    {% if bookings %}
        <ul>
            {% for booking in bookings %}
                <li>
                    <strong>Event Date:</strong> {{ booking.event_date }} <br>
                    <strong>Hall:</strong> {{ booking.hall_id.name }} <br>
                    <strong>Total Payment:</strong> {{ booking.total_payment }} <br>
                    <strong>Payment Status:</strong> {{ booking.payment_status }} <br>
                    <strong>event_status:{{booking.event_status}}</strong>
                    <!-- {% if booking.event_status == 'Accept' and booking.payment_status == 'Pending' %}
                    <a href="{% url 'stripe_payments' id=booking.id %}">Make Payment</a>
                    {% elif booking.payment_status == 'Completed' %}
                    <p>Payment Completed</p>
                    {% endif %} -->
                    <form action="{% url 'stripe_payments' id=booking.id %}">
                        {% csrf_token %}
                        {% if booking.event_status == 'Accept' and booking.payment_status == 'pending' %}
                        <input type="submit" value="PAY">
                        {% elif booking.payment_status == 'Completed' %}
                        <p>Payment Completed</p>
                        {% endif %}
                    </form>
                </li>
                <hr>
            {% endfor %}
        </ul>
    {% else %}
        <p>No bookings found.</p>
    {% endif %}
    
    <a href="{% url 'profile' %}">Back to Profile</a>
</body>
</html>
